// Colors
$color-primary: #cdcfd1;
$color-primary-dark: #b0b0b1;
$color-primary-darker: #777777;
$color-grey-light1: #f7f7f7;
$color-grey-light2: #e7e5e5;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horilzontal: 6rem;